body{
    
    background-image: url('thumb-1920-111290.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
video{
    width: 600px;
    height: 300px;
    float: right;
    padding: 6px;
    margin: 6px;
}
p{
    font-size: larger;
    color: maroon;
    text-align: justify;
    float: right;
    width: 600px;
    padding: 5px;
    margin: 5px;

}
#tesok{
    width: 600px;
    height: 800px;
    float:left;
}
#tartalom{
    width: 100%;
    
    
    margin-top: 25px;
    padding: 10px;
}
h1{
    text-align: center ;
    font-size: 50px;
    color: aliceblue;
}
header{
    background-image: url('headerkep.png');
    height: 427px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: right ;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
a{
    font-size: 25px;
    padding: 10px;
}
#lablec{
    text-align: center;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}