img{
    width: 50%;
    height: 70%;
    float: right;
    }

footer{
    bottom: 0px;
}

body{
    background-color: lightblue;
}

header{
    background-image: url("katana_head.jpg");
    background-repeat: no-repeat;s
}