img{
    width: 50%;
    height: 70%;
    float: right;
    }
h1{
    text-align: center ;
    font-size: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: black solid 5px;
}

footer{
    bottom: 0px;
}

body{
    background-color: lightblue;
}

header{
    background-repeat: no-repeat;
    background-size: cover
}
a:link, a:visited {
  
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  #menu{
    font-size: 25px;
    padding: 10px;
    border: black solid 10px;
    width: 200px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.5)
}